from fastapi.testclient import TestClient
from app.main import app

client = TestClient(app)

def test_predict():
    response = client.post("/api/predict/", json={
        "income": 40000,
        "age": 30,
        "loan_amount": 10000,
        "duration": 24,
        "credit_score": 700
    })
    assert response.status_code == 200
    assert "risk" in response.json()